*{
    color: green;
}
p {
    background-color: olivedrab;
    color: white;
}
.padding {
    padding: 15px 20px;
}
.border {
    border: 1px solid #223;
}
body {
    background-color: #F4AAAA;
}
#wrap {
    background-color: white;
    border: 1px dotted #555;
    padding: 10px 20px;
    margin: 50px 100px;
}
p, h2, .border {
    border-width: 3px;
    border-style: dashed;
    margin: 15px;
}